<!--<div class="column-two-thirds">-->

  <h1 class="heading-xlarge">Use a register in my service</h1>

  <p>Use this service to:</p>

  <ul class="list list-bullet">
    <li>choose the dataset your service needs</li>
    <li>preview the data in a picker component</li>
    <li>download the code</li>
    <li>view guidance about how to plug it into your service</li>
  </uL>

  <p>This takes around 5 minutes.</p>

  <p>
    <a class="button button-start" href="/data/registers" role="button">Start now</a>
  </p>

<!--</div>-->